{% extends 'base.html'%}

{% block content %}

    <div class="container custom-style-container">
        <h1>Send Notification</h1>
        <h4>{{msg}}</h4>
        <form action="{% url 'send_bulk_push_notifications' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit">Send Bulk Notification</button>
        </form>

        {% if user_list %}
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Info</th>
                </tr>
              </thead>
              <tbody>
                {% for user in user_list %}
                <tr>
                  <td>{{ user.name }}</td>
                  <td>{{ user.mobile }}</td>
                  <td>
                      <a href="{% url 'send_android_push_notification_to_mobile_number' user.mobile %}">
                        <button>Send</button>
                      </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        {% endif %}

        {% if notification_record_list %}
            <table>
              <thead>
                <tr>
                  <th>Total Count</th>
                  <th>Success Count</th>
                  <th>Fail Count</th>
                  <th>Sent Time</th>
                </tr>
              </thead>
              <tbody>
                {% for record in notification_record_list %}
                <tr>
                  <td>{{ record.total_user_count }}</td>
                  <td>{{ record.success_count }}</td>
                  <td>{{ record.fail_count }}</td>
                  <td>{{ record.sent_at }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        {% endif %}

    </div>

{% endblock %}