{% extends 'flexbox_tutorial/navbar.html'%}

{% load static %}

{% block navbar_content %}
        
    <div class="container" style="background-color: green;color: white;">
        <h1>Vertical Tutorial</h1>
        <h3>Vertical use Align Items</h3>

        <h6>Here all STYLES HEIGHT is 100px</h6>
        <div class="mt-4"></div>
        <h4>Justify Content Start (<a class="" style="color: red;" href="{% url 'show_flexbox_code' 'Justify-Content-Start'%}">Code</a>)</h4>
        <div class="d-flex justify-content-start bg-dark" style="height: 100px;">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="d-flex align-items-center justify-content-center mt-4">
            <h6 class="align-self-center">VS</h6>
        </div>

        
        <div class="mt-4"></div>
        <h4>Align Items Start (<a class="" style="color: red;" href="{% url 'show_flexbox_code' 'Align-Items-Start'%}">Code</a>)</h4>
        <div class="d-flex align-items-start bg-dark" style="height: 100px;">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Align Items End (<a class="" style="color: red;" href="{% url 'show_flexbox_code' 'Align-Items-End'%}">Code</a>)</h4>
        <div class="d-flex align-items-end bg-dark" style="height: 100px;">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Align Items Center (<a class="" style="color: red;" href="{% url 'show_flexbox_code' 'Align-Items-Center'%}">Code</a>)</h4>
        <div class="d-flex align-items-center bg-dark" style="height: 100px;">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Align Items Center + Justy Content Center (<a class="" style="color: red;" href="{% url 'show_flexbox_code' 'Align-Items-Center-Justy-Content-Center'%}">Code</a>)</h4>
        <div class="d-flex align-items-center justify-content-center bg-dark" style="height: 100px;">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Justy Content No-Wrap(Default Behaviour) (<a class="" style="color: red;" href="{% url 'show_flexbox_code' 'Justy-Content-No-Wrap'%}">Code</a>)</h4>
        <div class="d-flex justify-content-around flex-nowrap bg-dark">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Justy Content Wrap (<a class="" style="color: red;" href="{% url 'show_flexbox_code' 'Justy-Content-Wrap'%}">Code</a>)</h4>
        <div class="d-flex justify-content-around flex-wrap bg-dark">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <!-- to have gap in the last -->
        <div class="mb-4"></div>

    </div>

{% endblock %}