{% extends 'flexbox_tutorial/navbar.html'%}
{% load static %}

{% block content %}
    <div class="container custom-style-container">
        <div class="d-flex justify-content-between">
            <div id="html_code">
                {{code_str|linebreaksbr|safe}}
            </div>

            <div>
                <button onclick="copyText()" style="background-color: orange; color: white;">Copy Text</button>
            </div>
            
        </div>
        <h6 class="mt-4">Demo of the Code</h6>
        <div class="mx-4">
            {{ code_str|safe }}
        </div>

    <!--  JS Source to COPY from Clipboard Mechanism      -->
    <script src="{% static 'js/flexbox_tutorial/copy_code.js' %}"></script>

    </div>
{% endblock %}