{% extends 'mainApp/navbar.html'%}
<!--{% include 'mainApp/navbar.html' with is_active=True message='Hello from parent template!' %}-->
{% block navbar_content %}

    <h1>Horizontal Tutorial</h1>
    <h3>Horizontal use Justify Content</h3>

    <div class="container">
        <div class="mt-4"></div>
        <h4>Default Flexbox</h4>
        <div class="d-flex bg-dark">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Justify Content Center</h4>
        <div class="d-flex justify-content-center bg-dark">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Justify Content Between</h4>
        <div class="d-flex justify-content-between bg-dark">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Justify Content Around</h4>
        <div class="d-flex justify-content-around bg-dark">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Justify Content Around+Order(3,1,2)</h4>
        <div class="d-flex justify-content-around bg-dark">
            <div class="text-white p-2 bg-success order-3">Item 1</div>
            <div class="text-white p-2 bg-primary order-1">Item 2</div>
            <div class="text-white p-2 bg-danger order-2">Item 3</div>
        </div>


        <!-- to have gap in the last -->
        <div class="mb-4"></div>

    </div>

{% endblock %}