{% extends 'learn_celery_tutorial/navbar.html'%}
<!--{% include 'mainApp/navbar.html' with is_active=True message='Hello from parent template!' %}-->

{% load static %}
{% block navbar_content %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <div class="container" style="background-color: green; color: white;">
        <h1>Configuration Steps</h1>
        <pre style="background-color: #eee;
                    border: 1px solid #999;
                    display: block;">
            <code>
                // Your code goes here
                const greeting = "Hello, World!";
                console.log(greeting);
            </code>
        </pre>
        
        <!-- to have gap in the last -->
        <div class="mb-4"></div>

    </div>

{% endblock %}