{% extends 'learn_celery_tutorial/navbar.html'%}
<!--{% include 'mainApp/navbar.html' with is_active=True message='Hello from parent template!' %}-->

{% load static %}
{% block navbar_content %}

    <div class="container" style="background-color: green; color: white;">
        <h1>Configuration Steps</h1>
        <h3>Horizontal use Justify Content</h3>

        <div class="mt-4"></div>
        <h4>Default Flexbox (<a class="" style="color: red;" href="{% url 'show_flexbox_code' 'Default-Flexbox'%}">Code</a>)</h4>
        <div class="d-flex bg-dark">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Justify Content Center (<a style="color: red;" href="{% url 'show_flexbox_code' 'Justify-Content-Center'%}">Code</a>)</h4>
        <div class="d-flex justify-content-center bg-dark">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Justify Content Between (<a style="color: red;" href="{% url 'show_flexbox_code' 'Justify-Content-Between'%}">Code</a>)</h4>
        <div class="d-flex justify-content-between bg-dark">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Justify Content Around (<a style="color: red;" href="{% url 'show_flexbox_code' 'Justify-Content-Around'%}">Code</a>)</h4>
        <div class="d-flex justify-content-around bg-dark">
            <div class="text-white p-2 bg-success">Item 1</div>
            <div class="text-white p-2 bg-primary">Item 2</div>
            <div class="text-white p-2 bg-danger">Item 3</div>
        </div>

        <div class="mt-4"></div>
        <h4>Justify Content Around+Order(3,1,2) (<a style="color: red;" href="{% url 'show_flexbox_code' 'Justify-Content-Around-Order'%}">Code</a>)</h4>
        <div class="d-flex justify-content-around bg-dark">
            <div class="text-white p-2 bg-success order-3">Item 1</div>
            <div class="text-white p-2 bg-primary order-1">Item 2</div>
            <div class="text-white p-2 bg-danger order-2">Item 3</div>
        </div>

        <!-- to have gap in the last -->
        <div class="mb-4"></div>

    </div>

{% endblock %}