{% extends 'base.html'%}

{% load static %}
{% block navbar_content %}
    <ul>
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/learn-celery-tutorial/theory">Learn Theory</a></li>
        <li><a class="nav-link" href="/learn-celery-tutorial/configuration-steps">Configuration Steps</a></li>
        <li><a class="nav-link scrollto" href="/learn-celery-tutorial/add-number">Add Number(Celery)</a></li>
        <li><a class="nav-link scrollto" href="/learn-celery-tutorial/number-counter-periodic-scheduled-task">Number Counter(Celery Beat)</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
{% endblock %}