{% extends 'learn_celery_tutorial/navbar.html'%}
<!--{% include 'mainApp/navbar.html' with is_active=True message='Hello from parent template!' %}-->
{% load static %}
{% block content %}
    <script>
        var result = '{{result}}';
    </script>

    <!-- JS file to Update the Result Field by Calling AJAX Jquery   -->
    {% if one_time_task_context %}
        <script src="{% static 'js/learn_celery_tutorial/update_result_to_html.js' %}"></script>
    {% else %}
        <script src="{% static 'js/learn_celery_tutorial/number_counter_update_view.js' %}"></script>
    {% endif %}

    <div class="container custom-style-container">
        <h1>Number Counter</h1>
        <div id="result">{{result}}</div>
    </div>

{% endblock %}