{% extends 'learn_celery_tutorial/navbar.html'%}
<!--{% include 'mainApp/navbar.html' with is_active=True message='Hello from parent template!' %}-->
{% load static %}
{% block navbar_content %}

    <!-- JS file to Update the Result Field by Call AJAX Jquery   -->
    <script src="{% static 'js/learn_celery_tutorial/number_counter_update_view.js' %}"></script>

    <div class="container custom-style-container">
        <h1>Number Counter</h1>
        <div id="result">{{result}}</div>
    </div>

{% endblock %}